body {
  font-family: "Merriweather", serif;
  margin: 0;
  background-color: #eef2f7;
  color: #1f2937;

  font-size: 21px;
  line-height: 1.75;
}

/* reset */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* layout */
.main {
  display: flex;
  width: 1450px; /* трохи ширше, але не over */
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  border-radius: 12px;
  overflow: hidden;
}

/* content */
.main_content {
  flex: 1;
  padding: 70px 85px;
}

/* sidebar */
.sidebard {
  width: 400px;
  background: #1f2937;
  color: #ffffff;
  padding: 50px 35px;
}

/* name */
.about_name {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  color: #111827;
}

/* description */
.about_description {
  font-size: 21px;
  color: #4b5563;
  margin-top: 5px;
  line-height: 1.7;
}

/* section titles */
.title {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0 15px;
  color: #111827;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* project links */
.nameA {
  color: #2563eb;
  font-weight: 500;
  font-size: 21px;
}

/* job + education */
.education_position,
.work_position {
  font-size: 21px;
  font-weight: 500;
  color: #111827;
}

/* bullet text */
.work {
  margin-left: 22px;
  font-size: 21px;
  font-weight: 500;
  color: #111827;
}

/* dates */
.period {
  color: #6b7280;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 21px;
  font-weight: 400;

}

/* sidebar titles */
.sidebard_title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* sidebar text */
.tech_skills_text,
.soft_skills_text {
  font-size: 21px;
  font-weight: 500;
  color: #e5e7eb;
}

/* links */
.contact_link {
  color: #93c5fd;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
}

/* clean headings */
h1,h4, h5 {
  margin: 0;
}
